laundrytrack_node_red_flow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "LaundryTrack Dashboard",
    "disabled": false,
    "info": "LaundryTrack MQTT + Dashboard"
  },
  {
    "id": "mqtt_broker1",
    "type": "mqtt-broker",
    "name": "HiveMQ Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "ui_base1",
    "type": "ui-base",
    "name": "LaundryTrack UI",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification","ui-control"],
    "showPathInSidebar": true
  },
  {
    "id": "ui_page1",
    "type": "ui-page",
    "name": "LaundryTrack",
    "ui": "ui_base1",
    "path": "/laundrytrack",
    "icon": "home",
    "layout": "grid",
    "theme": "ui_theme1",
    "breakpoints": [{"name":"Default","px":0,"cols":6}],
    "order": 1,
    "className": ""
  },
  {
    "id": "ui_theme1",
    "type": "ui-theme",
    "name": "Default Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#1976d2",
      "bgPage": "#f5f5f5",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    }
  },
  {
    "id": "ui_group_status",
    "type": "ui-group",
    "name": "Current Status",
    "page": "ui_page1",
    "width": "6",
    "height": "3",
    "order": 1,
    "showTitle": true,
    "className": ""
  },
  {
    "id": "ui_group_events",
    "type": "ui-group",
    "name": "Latest Events",
    "page": "ui_page1",
    "width": "6",
    "height": "4",
    "order": 2,
    "showTitle": true,
    "className": ""
  },
  {
    "id": "ui_group_history",
    "type": "ui-group",
    "name": "Snapshots",
    "page": "ui_page1",
    "width": "6",
    "height": "6",
    "order": 3,
    "showTitle": true,
    "className": ""
  },
  {
    "id": "mqtt_status",
    "type": "mqtt in",
    "z": "flow1",
    "name": "MQTT Status",
    "topic": "laundry/machine1/status",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 80,
    "wires": [["json_status","debug_status_raw"]]
  },
  {
    "id": "mqtt_event",
    "type": "mqtt in",
    "z": "flow1",
    "name": "MQTT Event",
    "topic": "laundry/machine1/event",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 220,
    "wires": [["json_event","debug_event_raw"]]
  },
  {
    "id": "mqtt_snapshot",
    "type": "mqtt in",
    "z": "flow1",
    "name": "MQTT Snapshot",
    "topic": "laundry/machine1/snapshot",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 380,
    "wires": [["json_snapshot","debug_snapshot_raw"]]
  },
  {
    "id": "json_status",
    "type": "json",
    "z": "flow1",
    "name": "Parse status JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 80,
    "wires": [["fn_status_text","fn_status_chip","fn_last_time"]]
  },
  {
    "id": "json_event",
    "type": "json",
    "z": "flow1",
    "name": "Parse event JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 220,
    "wires": [["fn_event_text","fn_event_table"]]
  },
  {
    "id": "json_snapshot",
    "type": "json",
    "z": "flow1",
    "name": "Parse snapshot JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 370,
    "y": 380,
    "wires": [["fn_snapshot_table"]]
  },
  {
    "id": "fn_status_text",
    "type": "function",
    "z": "flow1",
    "name": "Current state text",
    "func": "msg.payload = msg.payload.state || 'UNKNOWN';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 40,
    "wires": [["ui_text_state"]]
  },
  {
    "id": "fn_status_chip",
    "type": "function",
    "z": "flow1",
    "name": "Status summary",
    "func": "const s = msg.payload.state || 'UNKNOWN';\nconst t = msg.payload.time || '-';\nmsg.payload = `Machine State: ${s}\\nUpdated: ${t}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 80,
    "wires": [["ui_text_summary"]]
  },
  {
    "id": "fn_last_time",
    "type": "function",
    "z": "flow1",
    "name": "Last status time",
    "func": "msg.payload = msg.payload.time || '-';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 120,
    "wires": [["ui_text_time"]]
  },
  {
    "id": "fn_event_text",
    "type": "function",
    "z": "flow1",
    "name": "Latest event text",
    "func": "const e = msg.payload.event || 'UNKNOWN';\nconst t = msg.payload.time || '-';\nmsg.payload = `${e} at ${t}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 200,
    "wires": [["ui_text_event"]]
  },
  {
    "id": "fn_event_table",
    "type": "function",
    "z": "flow1",
    "name": "Keep last 10 events",
    "func": "let rows = flow.get('eventRows') || [];\nrows.unshift({event: msg.payload.event || '', time: msg.payload.time || ''});\nrows = rows.slice(0, 10);\nflow.set('eventRows', rows);\nmsg.payload = rows;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 240,
    "wires": [["ui_table_events"]]
  },
  {
    "id": "fn_snapshot_table",
    "type": "function",
    "z": "flow1",
    "name": "Keep last 10 snapshots",
    "func": "let rows = flow.get('snapshotRows') || [];\nrows.unshift({state: msg.payload.state || '', time: msg.payload.time || ''});\nrows = rows.slice(0, 10);\nflow.set('snapshotRows', rows);\nmsg.payload = rows;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 610,
    "y": 380,
    "wires": [["ui_table_snapshots"]]
  },
  {
    "id": "ui_text_state",
    "type": "ui-text",
    "z": "flow1",
    "group": "ui_group_status",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Current State",
    "label": "Current State",
    "format": "<h2>{{msg.payload}}</h2>",
    "layout": "row-spread",
    "x": 840,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui_text_summary",
    "type": "ui-text",
    "z": "flow1",
    "group": "ui_group_status",
    "order": 2,
    "width": 6,
    "height": 2,
    "name": "Status Summary",
    "label": "Summary",
    "format": "<pre>{{msg.payload}}</pre>",
    "layout": "col-center",
    "x": 850,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui_text_time",
    "type": "ui-text",
    "z": "flow1",
    "group": "ui_group_status",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "Last Update",
    "label": "Last Update",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 840,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui_text_event",
    "type": "ui-text",
    "z": "flow1",
    "group": "ui_group_events",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Latest Event",
    "label": "Latest Event",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 840,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui_table_events",
    "type": "ui-table",
    "z": "flow1",
    "group": "ui_group_events",
    "name": "Event History",
    "label": "Recent Events",
    "order": 2,
    "width": 6,
    "height": 4,
    "x": 840,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui_table_snapshots",
    "type": "ui-table",
    "z": "flow1",
    "group": "ui_group_history",
    "name": "Snapshot History",
    "label": "Recent Snapshots",
    "order": 1,
    "width": 6,
    "height": 6,
    "x": 850,
    "y": 380,
    "wires": []
  },
  {
    "id": "debug_status_raw",
    "type": "debug",
    "z": "flow1",
    "name": "Debug Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 350,
    "y": 20,
    "wires": []
  },
  {
    "id": "debug_event_raw",
    "type": "debug",
    "z": "flow1",
    "name": "Debug Event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 340,
    "y": 180,
    "wires": []
  },
  {
    "id": "debug_snapshot_raw",
    "type": "debug",
    "z": "flow1",
    "name": "Debug Snapshot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 360,
    "y": 340,
    "wires": []
  }
]
